:root {
  --primary-color: #333333;
  --secondary-color: #666666;
  --background-color: #ffffff;
  --input-background: #f5f5f5;
  --text-color: #333333;
  --card-background: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --text-color: #f5f5f5;
    --card-background: #444444;
    --input-background: #555555;
    --shadow-color: rgba(255, 255, 255, 0.1);
  }
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* 메인 컨텐츠 스타일 */
.maincontent .focusImage {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.maincontent .focusImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.maincontent .focusImage:hover img {
  transform: scale(1.05);
}

.maincontent .contentWrap {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.maincontent .titleWrap {
  margin-bottom: 2rem;
  text-align: center;
}

.maincontent .titleWrap table {
  width: 100%;
  border-collapse: collapse;
}

.maincontent .titleWrap th {
  padding: 1rem;
  background-color: var(--input-background);
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.maincontent .titleWrap th:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.maincontent .cellsWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.maincontent .cells {
  background-color: var(--card-background);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: transform 0.3s, box-shadow 0.3s;
}

.maincontent .cells:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--shadow-color);
}

.maincontent .cells img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.maincontent .cellintroduce {
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

.maincontent a {
  display: inline-block;
  margin-top: 2rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

.maincontent a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .maincontent .titleWrap th {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .maincontent .cellsWrap {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.footer{
  align-items: center;
  margin: auto;

}